header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  background-color: transparent !important;
  height: 80px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  position: fixed;
}

header .navbar {
  padding: 20px 0px;
}

.background-header .navbar {
  padding: 10px 0px;
}

.background-header {
  top: 0;
  position: fixed;
  background-color: #fff !important;
  /* Changed background color to #eee */
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.background-header .navbar-brand h2 {
  color: #a4c639 !important;
  /* Keep the "Finance Business" text color as #a4c639 */
}

.background-header .navbar-nav a.nav-link {
  color: #000 !important;
  /* Changed item color to black */
}

.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.current,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
  color: #a4c639 !important;
}

.navbar .navbar-brand {
  float: left;
  margin-top: 12px;
  outline: none;
}

.navbar .navbar-brand h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.navbar .navbar-brand h2 em {
  font-style: normal;
  font-size: 16px;
}

#navbarResponsive {
  z-index: 999;
}

.navbar-collapse {
  text-align: center;
}

.navbar .navbar-nav .nav-item {
  margin: 0px 15px;
}

.navbar .navbar-nav a.nav-link {
  text-transform: capitalize;
  font-size: 16.5px;
  font-weight: 430;
  letter-spacing: 0.5px;
  color: #fff;
  transition: all 0.5s;
  margin-top: 5px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.current,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
  color: #a4c639;
  border-bottom: 3px solid #a4c639;
}

.navbar .navbar-toggler-icon {
  background-image: none;
}

.navbar .navbar-toggler {
  border-color: #fff;
  background-color: #fff;
  height: 36px;
  outline: none;
  border-radius: 0px;
  position: absolute;
  right: 30px;
  top: 20px;
}

.navbar .navbar-toggler-icon:after {
  content: '\f0c9';
  color: #a4c639;
  font-size: 18px;
  line-height: 26px;
  font-family: 'FontAwesome';
}


/* dropdown of  one page */
.dropdown-menu {
  /*border: none;*/
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  color: #65686b;

}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #a4c639;
  border-top-color: #a4c639;
  border-radius: 10%;
  background-color: #e9ecef;
  z-index: 211;


}

.buttonl {}

.buttonl:hover {
  border-color: white;
}

.buttonl :active {
  border-color: white;

}

#light:active {
  background-color: white;
  border-color: white;

}

#light:visited {
  background-color: white;
  border-color: white;

}

.lg {
  background-color: #a4c639;
  border-color: #a4c639;
  color: white;
  font-weight: 600;
  padding-top: 45px;
  padding: 5.5px 9px;
  text-decoration: none;
}

#lg {
  color: #a4c639;
  margin-top: 56px;
}

.nigge {
  border-color: #c63976;
  border-width: 20px;
}

.ouassim {
  position: absolute;
  margin-top: 16px;
  color: #a4c639;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 7px 7px;
  background-color: #a4c639;
  color: #ffffff;
  margin-top: 8px;
  text-decoration: none;
  border: 2px solid #a4c639;
  border-radius: 4px;
}

.button:hover {
  transform: scale(0.95);
  border-color: #7b932f;
}

.nav-link {
  cursor: pointer;
}