<div class="main-banner header-text" id="top">
  <div class="Modern-Slider owl-carousel owl-theme">
    <!-- Item 1 -->
    <div class="item item-1">
      <div class="img-fill">
        <div class="text-content">
          <h6>we are ready to help you</h6>
          <h4>Find bids matching<br> your business</h4>
          <p><br><br><br></p>
          <a href="contact.html" class="filled-button">contact us</a>
        </div>
      </div>
    </div>
    <!-- Item 2 -->
    <div class="item item-2">
      <div class="img-fill">
        <div class="text-content">
          <h6>we are here to support you</h6>
          <h4>Search in wide<br> open resources</h4>
          <p><br><br><br></p>
          <a href="services.html" class="filled-button">our services</a>
        </div>
      </div>
    </div>
    <!-- Item 3 -->
    <div class="item item-3">
      <div class="img-fill">
        <div class="text-content">
          <h6>we have a solid background</h6>
          <h4>Market Analysis<br>&amp; Statistics</h4>
          <p><br><br><br></p>
          <a href="about.html" class="filled-button">learn more</a>
        </div>
      </div>
    </div>
  </div>
</div>
